body,
html,
body {
  margin: 0;
  padding: 0;
  background-color: #222222;
}

.top-header {
  background-color: black;
  padding: 30px;
  text-align: center;
}

.top-header__title {
  font-size: 120px;
  color: #f8f5ee;
  font-family: "Montserrat", cursive;
  font-optical-sizing: auto;
  margin-bottom: 0;
}

.top-header__subheader {
  font-size: 40px;
  margin-top: 0;
  color: #f8f5ee;
  padding-bottom: 150px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 1.5px;
}

.container {
  width: 96vw;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 1.5px;
  text-align: center;
  height: 80px;
  text-decoration: underline;
  font-size: 35px;
}

.card {
  width: 24%;
  height: 35rem;
  margin: 3rem 0;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 7px 7px 5px rgb(126, 126, 126);
}

.card-img {
  width: 350px;
  height: 290px;
  margin-left: auto;
  margin-right: auto;
}

.card-price {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0px;
  font-size: 30px;
  color: #222222;
}

.style-button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: #007a5a;
  padding: 8px 14px 9px;
  font-size: 15px;
  border-radius: 4px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
}
.style-button:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  gap: 150px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    background-color: red;
  }

  .card {
    width: 100%;
    height: auto;
  }
}

.style-button:hover {
  transform: scale(1.1);
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
  transition: 0.3s;
}

.cart {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  margin-top: auto;
  color: black;
  background-color: white;
  width: 50%;
  margin: auto;
}

.cart-items {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cart-title {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.filter-btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: white;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}
.filter-btn:hover {
  transform: translateY(2px);
}

.btn-bgc {
  padding-top: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.cart-total {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  margin-top: auto;
  color: black;
  background-color: white;
  width: 50%;
  margin: auto;
}
