:root {
  --bg-color: #f9f5eb;
  --card-bg: #eae0d5;
  --primary-green: #a3b18a;
  --dark-green: #3a5a40;
  --accent-brown: #c38e70;
  --text-main: #463f3a;

  --font-main: "Comfortaa", sans-serif;
  --font-serif: "Lora", serif;
}

.matcha {
  background-color: var(--primary-green);
}

.midnight {
  background-color: #2e2e3a;
}

body {
  margin: 0;
  color: var(--text-main);
  font-family: var(--font-main);
}

.top-header {
  text-align: center;
  padding: 1px;
  color: var(--dark-green);
  font-family: var(--font-main);
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}

.dashboard-container {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 80vh;
  border-radius: 30px;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 1.5rem;
}

.center-panel {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-btn {
  background-color: var(--card-bg);
  border: 2px solid var(--accent-brown);
  border-radius: 50px;
  padding: 15px 30px;
  margin: 10px 0;
  font-family: var(--font-main);
  cursor: pointer;
  width: 150px;
  transition: 0.3s;
}

.theme-btn:hover {
  background-color: var(--accent-brown);
  color: white;
  transform: scale(1.05);
}

.greeting {
  font-size: 3rem;
  text-align: center;
  color: var(--text-main);
  margin-bottom: 50px;
  font-family: var(--font-serif);
}

.action-container {
  display: flex;
  gap: 40px;
}

.big-action-card {
  width: 200px;
  height: 200px;
  background-color: var(--primary-green);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  border: none;
  font-size: 1.2rem;
  color: var(--dark-green);
  font-weight: bold;
}

.big-action-card.brown-style {
  background-color: var(--card-bg);
  border: 2px solid var(--accent-brown);
}

.big-action-card:hover {
  transform: translateY(-10px);
}

.featured-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 250px;
}

.album-art-placeholder {
  width: 100px;
  height: 200px;
  background-color: var(--primary-green);
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
